@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.carousel-item-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.carousel-left{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carousel-right{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-right-footer{
    width: 60%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.p-event-topic, .p-event-speaker{
    font-size: 1.8rem;
    font-weight: lighter;
}
.p-event-topic{
    font-weight: bold;
}
.p-event-date{
    font-size: 1.6rem;
}
.by{
    color: #a5a5a5;
}
.carousel-image{
    width: 80%;
    object-fit: contain;
}
.item-number{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: -52%;
}
.carousel-more-btn-outer{
    border: 1.3px solid #888888;
    padding: .3rem;
    margin-left: .8rem;
}
.carousel-more-btn-inner{
    border: 1px solid #e9e9e9;
    padding: .8rem 1.5rem;
    font-size: 1.4rem;
    transition: background-color 0.2s ease-in-out;
}
.carousel-more-btn-inner:hover{
    background-color: #383838;
}
@media screen and (max-width: 440px){
    .carousel-item-wrapper{
        width: 100%;
    }
    .carousel-left{
        width: 40%;
    }
    .carousel-right-footer{
        width: 92%;
    }
    .p-event-topic, .p-event-speaker{
        font-size: 1.4rem;
    }
    .p-event-date{
        font-size: 1.2rem;
    }
    .item-number{
        font-size: 9vw;
    }
    .carousel-more-btn-inner{
        border: 1px solid #b9b9b9;
        padding: .6rem 1.5rem;
        font-size: 1.2rem;
    }
}