.thickStrip {
    margin: 9rem 0;
    height: 9rem;
    width: 100%;
}
.banner_heading {
    background-color: #191919;
    width: 50rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -19rem;
    left: 6rem
}
.banner_heading h1 {
    font-size: 6.6rem;
    font-weight: 100;
}