.banner_container{
    overflow-y: hidden;
    margin: 7rem 0;
    height: 9rem;
}
.thickStrip {
    height: 9rem;
    width: 100%;
}
.banner_heading {
    background-color: #191919;
    width: 50rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -9.3rem;
    left: 6rem
}
.banner_heading h1 {
    font-size: 6.6rem;
    font-weight: 100;
}