.footer-wrapper{
    width: 100%;
    padding-bottom: 100px;
}
.social-wrapper{
    width: 80%;
    margin: auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.social-side-header{
    width: 20%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.social-links-wrapper{
    width:80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.social-links{
    width: 40px;
}
.copyright-wrapper{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.copywrite-inner{
    width:80%;
    margin: auto;
    text-align: center;
    font-size: 1.8rem;
}
@media screen and (max-width: 440px){
    .footer-wrapper{
        padding-bottom: 50px;
    }
    .social-wrapper{
        flex-direction: column;
    }
    .social-side-header{
        width: 100%;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        font-weight: lighter;
    }
    .social-links-wrapper{
        width:100%;
    }
    .social-links{
        width: 40px;
    }
    .copywrite-inner{
        width:80%;
        margin: auto;
        text-align: center;
        font-size: 1.2rem;
    }
}