.landing_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 37rem;
}
.landing_logo {
    margin-top: 14rem;
    width: 42rem;
}
.landing_button {
    width: 30rem;
    height: 5rem;
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.langing_graphics {
    position: relative;
    top: -19rem;
    display: flex;
    width: 100wv;
    height: 120rem;
    justify-content: space-between;
    overflow: hidden;
}
.leftGraphic {
    position: absolute;
    top: 18rem;
    width: 40rem;
    margin-left: -15px;  
    height: 50rem;
    object-fit: contain;
}
.rightGraphic {
    position: absolute; 
    right: 0;
    top: 0;  
    width: 80rem;
    object-fit: contain;
}
