.landing_container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30rem;
}
.landing_logo {
    width: 42rem;
}
.landing_button {
    width: 30rem;
    height: 5rem;
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.langing_graphics {
    display: flex;
    width: 100vw;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    transform: translateY(-20%);
}
.leftGraphic {
    width: 35%;
    object-fit: contain;
    align-self: flex-end;
}
.rightGraphic {
    width: 55%;
    object-fit: contain;
}
@media screen and (max-width: 440px){
    .landing_logo {
        width: 25rem;
        object-fit: contain;
    }
    .landing_button {
        width: 20rem;
        font-size: 1.4rem;
    }
    .langing_graphics {
        transform: translateY(-8vh);
    }
    .leftGraphic {
        align-self: center;
    }
}