.member-wrapper{
    width: 200px;
    height: 200px;
    margin: 10px 20px;
}
.member-image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.member-image-outer{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    border-radius: 60rem;
    border: 1px solid #afafaf;
}
.member-image-inner{
    width: 150px;
    object-fit: contain;
    border-radius: 50rem;
    border: 2px solid #191919;
}
.member-name{
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    color: #acacac;
    text-align: center;
}
@media screen and (max-width: 440px){
    .member-wrapper{
        width: 300px;
        height: 220px;
        margin: 10px 20px;
    }
}