.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.nav_leftLogo {
    width: 11rem;
    margin: 3.8rem 0 0 4.5rem;
    object-fit: contain;
}
.topLeftGraphic {
    width: 30rem;
    position: absolute;
}
.navbar_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34rem;
    font-size: 1.5rem;
    margin: 1.5rem 8rem 0 0;
}
.nav_rightLogo {
    height: 3rem;
    object-fit: contain;
}
a{
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 440px){
    .navbar_right{
        display: none;
    }
    .nav_leftLogo{
        width: 8rem;
        margin: 2rem 0 0 2.5rem;
        object-fit: contain;
    }
    .topLeftGraphic {
        width: 16rem;
        object-fit: contain;
    }
}