.para-header-container{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background: url('../graphics/stripe\ thin.png');
    background-size: cover;
}
.para_heading {
    background-color: #191919;
    width: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para_heading h1 {
    margin: auto;
    font-size: 2.5rem;
    font-weight: 100;
}
@media screen and (max-width: 440px){
    .para-header-container{
        margin: 3rem 0rem 2rem 0rem;
    }
}