.para-header-container{
    width: inherit;
    margin-top: 1rem;
}
.thinStrip {
    margin:0;
    height: 3rem;
    width: 100%;
}
.para_heading {
    background-color: #191919;
    width: 20rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -3.1rem;
    left: 40%;
}
.para_heading h1 {
    font-size: 2.5rem;
    font-weight: 100;
}