.card{
    width: 100%;
    margin-left: 5%;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-p-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-p-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.speaker-abexp-wrapper{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.avatar-bg{
    width: 400px;
    min-height: 350px;
    background-image: url('../graphics/stripeSquare.png');
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 300px;
    object-fit: cover;
    border: 8px solid #191919;
    border-radius: 50%;
}
.speaker-details{
    width: 300px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.speaker-name{
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    margin-right: 25px;
}
.speaker-linkedin-wrapper{
    text-decoration: none;
}
.speaker-linkedin{
    width: 30px;
    padding-top: 5px;
    object-fit: contain;
}
.event-details{
    width: 40%;
    margin: 25px auto;
}
.event-details-inner{
    width: 90%;
    display: flex;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 100;
}
.event-details-p1{
    width: 45%;
    text-align: right;
}
.event-details-p2{
    width: 50%;
    text-align: right;
}
#ld{
    align-self: flex-end;
}
.about-speaker{
    width: 100%;
    align-self: flex-start;
}
.about-content{
    font-size: 1.8rem;
    padding-right: 100px;
    min-height: 12rem;
}
.timer{
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.timer-header{
    font-size: 1.8rem;
}
.timer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 440px){
    .card{
        margin: 0;
    }
    .card-p-1{
        flex-direction: column;
    }
    .card-p-2{
        width: 100%;
        flex-direction: column;
    }
    .speaker-profile-wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .avatar-bg{
        aspect-ratio: 1.01/0.75;
        min-height: 0;
    }
    .avatar{
        width: 60%;
    }
    .speaker-details{
        width: 100%;
    }
    .speaker-abexp-wrapper{
        width: 100%;
    }
    .about-content{
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 0px;
        font-size: 1.6rem;
        min-height: 12rem;
    }
    .event-details{
        width: 90%;
        margin: 4rem auto;
    }
    .timer-content{
        width: 80%;
    }
}
@media screen and (max-width: 325px){
    .timer-content{
        width: 92%;
    }
}