.timer-element{
    width: 15rem;
    padding: 1rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.number-part{
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    padding: 2rem 2rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(145deg, #1b1b1b, #171717);
    box-shadow:  5px 5px 12px #0a0a0a,
                -5px -5px 12px #303030;
}
.string-part{
    font-size: 1.8rem;
}
@media screen and (max-width: 440px){
    .timer-element{
        width: 8rem;
    }
    .number-part{
        width: 100%;
        padding: 1.5rem 1.4rem;
        font-size: 2rem;
        box-shadow:  5px 5px 12px #0a0a0a,
                    -5px -5px 12px #252525;
    }
    .string-part{
        font-size: 1.4rem;
    }
}