@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-style: normal;
}
*::-webkit-scrollbar{
  display: none;
}
*::-moz-scrollbar{
  display: none;
}
.app {
  background-color: #191919;
  min-width: 100vw;
  min-height: 100vh;
  color: #ffffff;
}